<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Fad2.0</display-name>
    <servlet>
        <servlet-name>Print</servlet-name>
        <servlet-class>it.refill.servlet.Print</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>it.refill.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail</servlet-name>
        <servlet-class>it.refill.servlet.Mail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mail_Docenti</servlet-name>
        <servlet-class>it.refill.servlet.Mail_Docenti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailConference</servlet-name>
        <servlet-class>it.refill.servlet.MailConference</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Print</servlet-name>
        <url-pattern>/Print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail</servlet-name>
        <url-pattern>/Mail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mail_Docenti</servlet-name>
        <url-pattern>/Mail_Docenti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailConference</servlet-name>
        <url-pattern>/MailConference</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
